.button {
  box-shadow: inset 0 1px 0 0 #ffffff;
  background: #ededed linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
  border-radius: 5px;
  border: 1px solid #dcdcdc;
  display: inline-block;
  cursor: pointer;
  color: #6F6F6F;;
  font-size: 15px;
  font-weight: bold;
  padding: 10px 50px;
  text-decoration: none;
  text-shadow: 0 1px 0 #ffffff;

  &:hover {
    background: #dfdfdf linear-gradient(to bottom, #dfdfdf 5%, #ededed 100%);
  }

  &:active {
    position: relative;
    top: 1px;
  }
}