.button {
    box-shadow: inset 0px 1px 0px 0px #ffffff;
    background: linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
    background-color: #ededed;
    border-radius: 5px;
    border: 1px solid #dcdcdc;
    display: inline-block;
    cursor: pointer;
    color: #6F6F6F;;
    font-size: 15px;
    font-weight: bold;
    padding: 10px 50px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #ffffff;
}

.button:hover {
    background: linear-gradient(to bottom, #dfdfdf 5%, #ededed 100%);
    background-color: #dfdfdf;
}

.button:active {
    position: relative;
    top: 1px;
}