body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

.title {
  font-size: 20px;
  font-weight: 500;
}

.fa-plus-circle, .fa-minus-circle {
  font-size: 30px;
}

.msg-box {
  overflow: hidden;
  border-radius: 5px;

  & .msg-box--error {
    background-color: #D8D8D8;
    padding: 15px;
    font-weight: 500;
  }
}

.hotel__wrapper {
  display: flex;
  flex-wrap: wrap;
}

.main-section__button {
  text-align: center;
  margin-top: 60px;
  margin-bottom: 40px;
}

.list-hotels {
  list-style-type: none;
  padding-left: 0;
}

.list-hotels > li {
  overflow: hidden;
  margin: 0 0 10px 0;
  border: 1px solid #dddddd;
  border-radius: 10px;
}

.list-hotels > li:last-child {
  border: none;
}

.image-section {
  flex: 3;
  flex-basis: 300px;
}

.image-section--ratio-4-3 {
  width: 100%;
  position: relative;
  background: url('../placeholder.jpg') 50% 50% no-repeat;
  background-size: cover;
  background-clip: content-box;

  &:before {
    display: block;
    content: "";
    padding-top: 75%;
  }
}

.hotel-desc {
  flex: 6;
  flex-basis: 55%;
  padding: 10px;

  & .hotel-desc__description {
    padding-top: 10px;
    margin: 0;
  }

  & .hotel-desc__up-section {
    display: flex;
  }

  & .hotel-desc__text {
    margin: 0;
  }

  & .hotel-desc__down-section {
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;

    & .hotel-desc__price-date {
      margin-left: auto;
      text-align: end;

      & .hotel-desc__price {
        font-size: 40px;
        margin: 0;
      }
    }
  }
}

.list-reviews {
  list-style-type: none;
  padding-left: 0;

  & li {
    overflow: hidden;
    border-bottom: 1px solid #dddddd;
    border-left: 1px solid #dddddd;
    border-right: 1px solid #dddddd;
    padding: 10px;
    background-color: lightgray;

    &:last-child {
      border: none;
    }

    &:first-child {
      border-top: 1px solid #dddddd;
    }
  }
}

.list-reviews--empty {
  background-color: lightgrey;
  padding: 10px;
}

.review {
  overflow: hidden;

  & li {
    display: flex;
  }

  & .review__icon {
    flex: 1;
    align-self: center;
    text-align: center;
  }

  & .review__content {
    flex: 4;
  }
}